body {
    color: #00E156;
    background-color: black;
}

#intro {
    
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

h1, h2, h3 {
    
    text-align: center;
}

h2 {
    margin-bottom: 35px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    margin-top:15px;
}

/*
.like, .must {
    height: 271.233px;
}
*/

.like {
    background: linear-gradient(160deg, rgb(0, 0, 0), rgb(29, 29, 176), rgb(222, 30, 209) 70%);
    display: inline-block;
    margin: auto;
}

.must {
    background: linear-gradient(red, blue);
    display: inline-block;
    border: 5px blue;
    margin: auto;
}

footer {
    font-size: 14px;
    text-align: center;
}

